<div class='root'>
  <app-header-todo></app-header-todo>
  <!-- <app-progress-bar-todo></app-progress-bar-todo> -->
  <app-input-panel-todo></app-input-panel-todo>
  <app-main-content-todo></app-main-content-todo>
  <br> 
  <p>
      Note: If you enable the progress bar modal window stops working,
      and when you call the modal window, the application crashes.
      To display the progress bar need to uncomment app-progress-bar-todo on app.component.html .
      <br>Seach panel not done.  
  </p>
</div>


